@import "./../node_modules/@aurodesignsystem/design-tokens/dist/alaska/SCSSVariables--alaska";

:host {
  --ds-auro-toast-close-button-hover-container-color: var(--ds-advanced-color-button-tertiary-background-hover, #{$ds-advanced-color-button-tertiary-background-hover});
  --ds-auro-toast-container-color: var(--ds-advanced-color-shared-background-strong, #{$ds-advanced-color-shared-background-strong});
  --ds-auro-toast-icon-color: var(--ds-basic-color-texticon-inverse, #{$ds-basic-color-texticon-inverse});
  --ds-auro-toast-text-color: var(--ds-basic-color-texticon-inverse, #{$ds-basic-color-texticon-inverse});
}
